RawDAta
80:20
trainng:    test


Training > Kfold
80 > {1,2,3,4,5}

5 rounds 




Trained Model > test

TRAIN TEST SPLIT 
---

* First split is for Training VS Testing
* Second Split is for Stratified K Fold

---
#### required Modules:

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split, StratifiedKFold

randomState = 42

---
#### Import the processed Data

In [2]:
filename = ".\data\processed_data.csv"

data = pd.read_csv(filename)
display(data.head().iloc[:,:15])
display(data.head().iloc[:,15:])
display(data.describe().T)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\TAN LE ZHAN\AppData\Local\Temp\ipykernel_37220\2863801186.py:1: SyntaxWarning: invalid escape sequence '\d'
  filename = ".\data\processed_data.csv"

,Age,Gender,UAlb,Ucr,UACR,TC,TG,TCTG,LDLC,HDLC,Scr,BUN,FPG,HbA1c,Height
0,63.0,1.0,18.3,5.0,29.1,4.97,5.98,0.83,2.31,0.97,55.0,6.6,7.2,4.5,140.0
1,64.0,0.0,14.8,4.0,29.3,3.92,1.77,2.21,1.44,1.71,50.0,4.0,10.9,7.1,166.0
2,84.0,1.0,60.5,18.0,29.5,3.97,2.90,1.37,1.96,0.94,93.0,8.5,6.2,5.7,160.0
3,53.0,0.0,0.2,3.0,0.3,8.57,4.69,1.83,4.54,1.74,58.0,5.0,13.1,8.5,173.0
4,88.0,1.0,0.1,4.0,0.5,4.70,1.30,3.62,3.29,0.88,120.0,10.1,6.9,6.2,154.0

,Weight,BMI,Duration,DR,Community_baihe,Community_chonggu,Community_huaxin,Community_jinze,Community_liantang,Community_xianghuaqiao,Community_xujin,Community_yingpu,Community_zhaoxian,Community_zhujiajiao
0,42.0,21.43,27.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,62.0,22.50,2.5,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,60.0,23.44,9.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,60.0,20.05,2.3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,65.0,27.41,3.3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,count,mean,std,min,25%,50%,75%,max
Age,6380.0,63.835580,7.533908,28.00,59.000,64.00,69.000,92.00
Gender,6380.0,0.549373,0.497595,0.00,0.000,1.00,1.000,1.00
UAlb,6380.0,49.941082,124.652274,0.10,5.275,12.30,33.200,1072.20
Ucr,6380.0,4900.378683,6057.043821,0.00,7.000,18.00,9282.000,22726.00
UACR,6380.0,70.932241,1084.392926,0.10,5.900,12.10,33.125,85427.70
TC,6380.0,5.347285,1.129842,2.10,4.620,5.27,5.980,25.00
TG,6380.0,1.840034,2.162379,0.10,0.910,1.37,2.090,82.40
TCTG,6380.0,4.414591,2.656648,0.55,2.550,3.81,5.700,26.82
LDLC,6380.0,3.218150,0.951465,0.22,2.570,3.19,3.820,8.85
HDLC,6380.0,1.333804,0.312524,0.60,1.110,1.29,1.520,3.18
Scr,6380.0,61.686834,20.639001,26.00,50.000,59.00,69.000,610.00
BUN,6380.0,5.986160,1.660555,1.60,4.900,5.80,6.800,23.90
FPG,6380.0,8.885251,2.639611,4.00,7.100,8.30,9.900,30.00
HbA1c,6380.0,7.295768,1.473713,3.10,6.200,7.00,8.100,13.90
Height,6380.0,161.557680,7.601245,82.00,156.000,161.00,168.000,188.00
Weight,6380.0,64.264326,11.866823,36.00,57.975,64.00,70.000,564.00
BMI,6380.0,24.609956,4.447168,15.06,22.490,24.22,26.150,250.67
Duration,6380.0,7.818589,5.801607,0.10,2.700,6.40,12.000,33.00
DR,6380.0,0.100940,0.301273,0.00,0.000,0.00,0.000,1.00
Community_baihe,6380.0,0.116458,0.320798,0.00,0.000,0.00,0.000,1.00
Community_chonggu,6380.0,0.070846,0.256588,0.00,0.000,0.00,0.000,1.00
Community_huaxin,6380.0,0.109561,0.312366,0.00,0.000,0.00,0.000,1.00
Community_jinze,6380.0,0.086834,0.281614,0.00,0.000,0.00,0.000,1.00
Community_liantang,6380.0,0.105016,0.306598,0.00,0.000,0.00,0.000,1.00
Community_xianghuaqiao,6380.0,0.075549,0.264295,0.00,0.000,0.00,0.000,1.00
Community_xujin,6380.0,0.088558,0.284127,0.00,0.000,0.00,0.000,1.00
Community_yingpu,6380.0,0.124451,0.330122,0.00,0.000,0.00,0.000,1.00
Community_zhaoxian,6380.0,0.106426,0.308407,0.00,0.000,0.00,0.000,1.00
Community_zhujiajiao,6380.0,0.116301,0.320611,0.00,0.000,0.00,0.000,1.00

In [3]:
X = data.drop(columns=["DR"])
y = pd.DataFrame(data["DR"])

display(X.head().iloc[:,:18])
display(X.head().iloc[:,18:])
display(y.head())

,Age,Gender,UAlb,Ucr,UACR,TC,TG,TCTG,LDLC,HDLC,Scr,BUN,FPG,HbA1c,Height,Weight,BMI,Duration
0,63.0,1.0,18.3,5.0,29.1,4.97,5.98,0.83,2.31,0.97,55.0,6.6,7.2,4.5,140.0,42.0,21.43,27.0
1,64.0,0.0,14.8,4.0,29.3,3.92,1.77,2.21,1.44,1.71,50.0,4.0,10.9,7.1,166.0,62.0,22.50,2.5
2,84.0,1.0,60.5,18.0,29.5,3.97,2.90,1.37,1.96,0.94,93.0,8.5,6.2,5.7,160.0,60.0,23.44,9.0
3,53.0,0.0,0.2,3.0,0.3,8.57,4.69,1.83,4.54,1.74,58.0,5.0,13.1,8.5,173.0,60.0,20.05,2.3
4,88.0,1.0,0.1,4.0,0.5,4.70,1.30,3.62,3.29,0.88,120.0,10.1,6.9,6.2,154.0,65.0,27.41,3.3

,Community_baihe,Community_chonggu,Community_huaxin,Community_jinze,Community_liantang,Community_xianghuaqiao,Community_xujin,Community_yingpu,Community_zhaoxian,Community_zhujiajiao
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

    DR
0  0.0
1  0.0
2  0.0
3  0.0
4  0.0

---
#### First Split

In [4]:
X_kfold, X_test, y_kfold, y_test = train_test_split(X, y, test_size=0.1, random_state=randomState,stratify=y)

---
#### Stratified K Fold

In [8]:
kF = StratifiedKFold(n_splits=5,shuffle=True, random_state=randomState)

kFold = []

for fold, (train_idx, test_idx) in enumerate(kF.split(X_kfold,y_kfold)):
    print(f"Fold: {fold}", train_idx, test_idx)
    train_x, train_y = X_kfold.iloc[train_idx], y_kfold.iloc[train_idx]
    test_x, test_y = X_kfold.iloc[test_idx], y_kfold.iloc[test_idx]
    # print(f"Fold: {fold}")
    # print(f"Train: {train_x.shape}, {train_y.shape}")
    kFold.append((train_x, test_x, train_y, test_y))

Fold: 0 [   0    1    2 ... 5737 5739 5740] [   6   23   26 ... 5732 5738 5741]
Fold: 1 [   2    4    5 ... 5739 5740 5741] [   0    1    3 ... 5718 5726 5731]
Fold: 2 [   0    1    2 ... 5738 5740 5741] [   8   24   29 ... 5729 5733 5739]
Fold: 3 [   0    1    2 ... 5738 5739 5741] [   4   10   12 ... 5734 5735 5740]
Fold: 4 [   0    1    3 ... 5739 5740 5741] [   2    5    9 ... 5727 5736 5737]

In [9]:
for fold, data in enumerate(kFold,start=1):
    print(f"Fold: {fold} ")
    string = "  "
    for split in data:
        display(split.head())

Fold: 1

,Age,Gender,UAlb,Ucr,UACR,TC,TG,TCTG,LDLC,HDLC,...,Community_baihe,Community_chonggu,Community_huaxin,Community_jinze,Community_liantang,Community_xianghuaqiao,Community_xujin,Community_yingpu,Community_zhaoxian,Community_zhujiajiao
591,62.0,1.0,4.8,8.0,4.8,5.63,1.06,5.31,4.06,1.28,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3572,74.0,0.0,21.8,11481.0,16.8,5.40,0.55,9.82,4.18,1.36,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3384,71.0,1.0,7.3,8990.0,7.2,6.11,1.51,4.05,4.30,1.22,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1300,66.0,0.0,3.4,8.0,3.4,4.90,0.92,5.33,3.03,1.31,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
269,36.0,0.0,21.2,11.0,16.9,5.85,3.76,1.56,2.71,1.06,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,Age,Gender,UAlb,Ucr,UACR,TC,TG,TCTG,LDLC,HDLC,...,Community_baihe,Community_chonggu,Community_huaxin,Community_jinze,Community_liantang,Community_xianghuaqiao,Community_xujin,Community_yingpu,Community_zhaoxian,Community_zhujiajiao
348,72.0,1.0,19.9,4.0,37.3,3.89,1.39,2.80,2.45,0.92,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2608,59.0,0.0,0.7,10.0,0.6,6.32,6.13,1.03,2.77,1.13,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
5711,65.0,1.0,3.8,8607.0,3.9,5.97,1.54,3.88,3.57,1.61,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
6164,62.0,0.0,16.1,6609.0,21.6,6.22,2.54,2.45,3.92,1.30,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5338,73.0,1.0,60.7,20813.0,25.8,4.09,1.21,3.38,2.44,1.15,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

       DR
591   0.0
3572  0.0
3384  0.0
1300  0.0
269   0.0

       DR
348   0.0
2608  0.0
5711  0.0
6164  0.0
5338  0.0

Fold: 2

,Age,Gender,UAlb,Ucr,UACR,TC,TG,TCTG,LDLC,HDLC,...,Community_baihe,Community_chonggu,Community_huaxin,Community_jinze,Community_liantang,Community_xianghuaqiao,Community_xujin,Community_yingpu,Community_zhaoxian,Community_zhujiajiao
3384,71.0,1.0,7.3,8990.0,7.2,6.11,1.51,4.05,4.30,1.22,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
269,36.0,0.0,21.2,11.0,16.9,5.85,3.76,1.56,2.71,1.06,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1619,70.0,0.0,31.0,17.0,16.1,7.22,1.91,3.78,5.00,1.54,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
348,72.0,1.0,19.9,4.0,37.3,3.89,1.39,2.80,2.45,0.92,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5014,74.0,0.0,17.2,19701.0,7.7,5.27,0.83,6.35,3.21,1.55,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

,Age,Gender,UAlb,Ucr,UACR,TC,TG,TCTG,LDLC,HDLC,...,Community_baihe,Community_chonggu,Community_huaxin,Community_jinze,Community_liantang,Community_xianghuaqiao,Community_xujin,Community_yingpu,Community_zhaoxian,Community_zhujiajiao
591,62.0,1.0,4.8,8.0,4.8,5.63,1.06,5.31,4.06,1.28,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3572,74.0,0.0,21.8,11481.0,16.8,5.40,0.55,9.82,4.18,1.36,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1300,66.0,0.0,3.4,8.0,3.4,4.90,0.92,5.33,3.03,1.31,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
79,50.0,1.0,4.1,6.0,5.2,5.64,1.49,3.79,3.71,1.21,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1433,52.0,0.0,4.8,6.0,6.3,3.49,0.36,9.69,2.03,1.23,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

       DR
3384  0.0
269   0.0
1619  0.0
348   0.0
5014  0.0

       DR
591   0.0
3572  0.0
1300  0.0
79    0.0
1433  0.0

Fold: 3

,Age,Gender,UAlb,Ucr,UACR,TC,TG,TCTG,LDLC,HDLC,...,Community_baihe,Community_chonggu,Community_huaxin,Community_jinze,Community_liantang,Community_xianghuaqiao,Community_xujin,Community_yingpu,Community_zhaoxian,Community_zhujiajiao
591,62.0,1.0,4.8,8.0,4.8,5.63,1.06,5.31,4.06,1.28,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3572,74.0,0.0,21.8,11481.0,16.8,5.40,0.55,9.82,4.18,1.36,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3384,71.0,1.0,7.3,8990.0,7.2,6.11,1.51,4.05,4.30,1.22,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1300,66.0,0.0,3.4,8.0,3.4,4.90,0.92,5.33,3.03,1.31,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
269,36.0,0.0,21.2,11.0,16.9,5.85,3.76,1.56,2.71,1.06,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,Age,Gender,UAlb,Ucr,UACR,TC,TG,TCTG,LDLC,HDLC,...,Community_baihe,Community_chonggu,Community_huaxin,Community_jinze,Community_liantang,Community_xianghuaqiao,Community_xujin,Community_yingpu,Community_zhaoxian,Community_zhujiajiao
5014,74.0,0.0,17.2,19701.0,7.7,5.27,0.83,6.35,3.21,1.55,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4288,69.0,1.0,2.1,6930.0,2.7,5.52,2.81,1.96,3.36,1.04,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1601,76.0,1.0,5.0,3.0,14.4,6.50,2.29,2.84,4.35,1.46,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2561,48.0,0.0,1006.0,15.0,579.4,5.64,1.33,4.24,3.74,1.27,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5888,60.0,1.0,4.7,5.0,7.9,5.67,0.81,7.00,3.61,1.50,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

       DR
591   0.0
3572  0.0
3384  0.0
1300  0.0
269   0.0

       DR
5014  0.0
4288  0.0
1601  0.0
2561  1.0
5888  0.0

Fold: 4

,Age,Gender,UAlb,Ucr,UACR,TC,TG,TCTG,LDLC,HDLC,...,Community_baihe,Community_chonggu,Community_huaxin,Community_jinze,Community_liantang,Community_xianghuaqiao,Community_xujin,Community_yingpu,Community_zhaoxian,Community_zhujiajiao
591,62.0,1.0,4.8,8.0,4.8,5.63,1.06,5.31,4.06,1.28,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3572,74.0,0.0,21.8,11481.0,16.8,5.40,0.55,9.82,4.18,1.36,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3384,71.0,1.0,7.3,8990.0,7.2,6.11,1.51,4.05,4.30,1.22,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1300,66.0,0.0,3.4,8.0,3.4,4.90,0.92,5.33,3.03,1.31,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1619,70.0,0.0,31.0,17.0,16.1,7.22,1.91,3.78,5.00,1.54,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,Age,Gender,UAlb,Ucr,UACR,TC,TG,TCTG,LDLC,HDLC,...,Community_baihe,Community_chonggu,Community_huaxin,Community_jinze,Community_liantang,Community_xianghuaqiao,Community_xujin,Community_yingpu,Community_zhaoxian,Community_zhujiajiao
269,36.0,0.0,21.2,11.0,16.9,5.85,3.76,1.56,2.71,1.06,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5428,70.0,1.0,36.9,7504.0,43.5,4.34,2.34,1.85,1.97,1.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
5967,64.0,1.0,1.4,1228.0,10.1,4.42,1.20,3.68,3.05,0.89,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5084,67.0,1.0,11.2,10259.0,9.7,6.81,0.56,12.16,4.09,1.98,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
5112,57.0,0.0,23.1,18861.0,10.8,4.20,1.37,3.07,2.86,1.03,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

       DR
591   0.0
3572  0.0
3384  0.0
1300  0.0
1619  0.0

       DR
269   0.0
5428  0.0
5967  0.0
5084  0.0
5112  0.0

Fold: 5

,Age,Gender,UAlb,Ucr,UACR,TC,TG,TCTG,LDLC,HDLC,...,Community_baihe,Community_chonggu,Community_huaxin,Community_jinze,Community_liantang,Community_xianghuaqiao,Community_xujin,Community_yingpu,Community_zhaoxian,Community_zhujiajiao
591,62.0,1.0,4.8,8.0,4.8,5.63,1.06,5.31,4.06,1.28,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3572,74.0,0.0,21.8,11481.0,16.8,5.40,0.55,9.82,4.18,1.36,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1300,66.0,0.0,3.4,8.0,3.4,4.90,0.92,5.33,3.03,1.31,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
269,36.0,0.0,21.2,11.0,16.9,5.85,3.76,1.56,2.71,1.06,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
348,72.0,1.0,19.9,4.0,37.3,3.89,1.39,2.80,2.45,0.92,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,Age,Gender,UAlb,Ucr,UACR,TC,TG,TCTG,LDLC,HDLC,...,Community_baihe,Community_chonggu,Community_huaxin,Community_jinze,Community_liantang,Community_xianghuaqiao,Community_xujin,Community_yingpu,Community_zhaoxian,Community_zhujiajiao
3384,71.0,1.0,7.3,8990.0,7.2,6.11,1.51,4.05,4.30,1.22,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1619,70.0,0.0,31.0,17.0,16.1,7.22,1.91,3.78,5.00,1.54,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3118,60.0,0.0,28.3,4.0,52.4,4.80,2.74,1.75,2.56,1.08,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1662,64.0,1.0,3.0,1.0,20.7,5.13,2.73,1.88,2.98,1.39,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5939,77.0,0.0,11.3,10828.0,9.2,6.12,2.02,3.03,4.03,1.59,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

       DR
591   0.0
3572  0.0
1300  0.0
269   0.0
348   0.0

       DR
3384  0.0
1619  0.0
3118  0.0
1662  0.0
5939  0.0

Testing Py imports
---

In [2]:
from modularModels1 import modularNN , BlockMaker
import torch.nn as nn

model_1 = modularNN(10,
                   blocks=[BlockMaker(28,[128,128],64,[nn.ReLU(),nn.ReLU(),nn.LeakyReLU()]),
                           BlockMaker(64,[64],32,[(nn.ELU(),nn.Dropout(0.2)),nn.Sigmoid()]),
                           ],
                   blockSize=(28,32))

print(model_1)

modularNN(
  (layers): Sequential(
    (0): BlockMaker(
      (layers): Sequential(
        (0): Linear(in_features=28, out_features=128, bias=True)
        (1): ReLU()
        (2): Linear(in_features=128, out_features=128, bias=True)
        (3): ReLU()
        (4): Linear(in_features=128, out_features=64, bias=True)
        (5): LeakyReLU(negative_slope=0.01)
      )
    )
    (1): BlockMaker(
      (layers): Sequential(
        (0): Linear(in_features=64, out_features=64, bias=True)
        (1): ELU(alpha=1.0)
        (2): Dropout(p=0.2, inplace=False)
        (3): Linear(in_features=64, out_features=32, bias=True)
        (4): Sigmoid()
      )
    )
    (2): Linear(in_features=32, out_features=10, bias=True)
  )
)