In [1]:
# from modularModels1 import BlockMaker, modularNN
# import torch.nn as nn
# # class modularNN(nn.Module):
# #     """
# #     Use with BlockMaker
# #     """
# #     def __init__(self, classes:int, blocks:list = None, blockSize:tuple = None,
# #                  ):
# #         """
# #         Params:
# #         - blocks: List of premade Blocks
# #         - blockSize: tuple pair of input size for starting block AND output size for ending block
# #         """
# #         super().__init__()

# #         if blocks and blockSize:
# #             self.layers = nn.Sequential(
# #                 *blocks,
# #                 nn.Linear(blockSize[1],classes),
# #             )
 

# #     def forward(self, x):
# #         return self.layers(x)
        

# # class BlockMaker(nn.Module):
# #     """
# #     Create a Sequential Block with your own choice of Activation Functions!
# #     """
# #     def __init__(self, in_features:int, hidden_neurons:list|tuple, out_features:int,
# #                  otherModules:list|tuple,
# #                  ):
# #         """
# #         Params:
# #         - sizes: (list) layer sizes
# #         - otherModules: activations or dropouts to add after each layer. put them in a tuple to add more than 1 after a layer
# #         """
# #         assert len(hidden_neurons)+1 == len(otherModules), "num of Layers and Modules do not match."

# #         super().__init__()
# #         sizes = [ *hidden_neurons, out_features]
# #         linear_List = []
# #         start = in_features
# #         for size in sizes:
# #             linear_List.append(nn.Linear(start,size))
# #             start = size

# #         layer_List = []
# #         try:
# #             for idx in range(len(linear_List)):
# #                 layer_List.append(linear_List[idx])
# #                 if isinstance(otherModules[idx],tuple):
# #                     for module in otherModules[idx]:
# #                         layer_List.append(module)
# #                 else:
# #                     layer_List.append(otherModules[idx])
# #         except IndexError:
# #             print("num of Layers and Modules do not match!")
# #         except:
# #             print("Unknown Error")
# #         finally:
# #             self.layers =  nn.Sequential(
# #                 *layer_List
# #                 )
            
# #     def forward(self, x):
# #         return self.layers(x)
    

# model_1 = modularNN(10,
#                    blocks=[BlockMaker(28,[128,128],64,
#                                       [nn.ReLU(),nn.ReLU(),nn.LeakyReLU()]),
#                            BlockMaker(64,[64],32,
#                                       [(nn.ELU(),nn.Dropout(0.2)),nn.Sigmoid()]),
#                            ],
#                    blockSize=(28,32))

RawDAta
80:20
trainng:    test


Training > Kfold
80 > {1,2,3,4,5}

5 rounds 




Trained Model > test

TRAIN TEST SPLIT 
---

* First split is for Training VS Testing
* Second Split is for Stratified K Fold

---
#### required Modules:

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split, StratifiedKFold

randomState = 42

---
#### Import the processed Data

In [3]:
filename = ".\data\processed_data.csv"

data = pd.read_csv(filename)
display(data.head().iloc[:,:15])
display(data.head().iloc[:,15:])
display(data.describe().T)

,Age,Gender,UAlb,Ucr,UACR,TC,TG,TCTG,LDLC,HDLC,Scr,BUN,FPG,HbA1c,Height
0,63,1,18.3,5,29.1,4.97,5.98,0.831104,2.31,0.97,55,6.6,7,5,140
1,64,0,14.8,4,29.3,3.92,1.77,2.214689,1.44,1.71,50,4.0,11,7,166
2,84,1,60.5,18,29.5,3.97,2.90,1.368966,1.96,0.94,93,8.5,6,6,160
3,53,0,0.2,3,0.3,8.57,4.69,1.827292,4.54,1.74,58,5.0,13,9,173
4,88,1,0.1,4,0.5,4.70,1.30,3.615385,3.29,0.88,120,10.1,7,6,154

,Weight,BMI,Duration,DR,Community_baihe,Community_chonggu,Community_huaxin,Community_jinze,Community_liantang,Community_xianghuaqiao,Community_xujin,Community_yingpu,Community_zhaoxian,Community_zhujiajiao
0,42,21.428571,27.0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,62,22.499637,2.5,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,60,23.437500,9.0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,60,20.047446,2.3,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,65,27.407657,3.3,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,count,mean,std,min,25%,50%,75%,max
Age,6380.0,63.835580,7.533908,28.000000,59.000000,64.000000,69.000000,92.000000
Gender,6380.0,0.549373,0.497595,0.000000,0.000000,1.000000,1.000000,1.000000
UAlb,6380.0,49.941082,124.652274,0.100000,5.275000,12.300000,33.200000,1072.200000
Ucr,6380.0,4900.378683,6057.043821,0.000000,7.000000,18.000000,9282.000000,22726.000000
UACR,6380.0,70.932241,1084.392926,0.100000,5.900000,12.100000,33.125000,85427.700000
TC,6380.0,5.347285,1.129842,2.100000,4.620000,5.270000,5.980000,25.000000
TG,6380.0,1.840034,2.162379,0.100000,0.910000,1.370000,2.090000,82.400000
TCTG,6380.0,4.414461,2.656635,0.547380,2.548144,3.810127,5.695255,26.818182
LDLC,6380.0,3.218150,0.951465,0.220000,2.570000,3.190000,3.820000,8.850000
HDLC,6380.0,1.333804,0.312524,0.600000,1.110000,1.290000,1.520000,3.180000
Scr,6380.0,61.686834,20.639001,26.000000,50.000000,59.000000,69.000000,610.000000
BUN,6380.0,5.986160,1.660555,1.600000,4.900000,5.800000,6.800000,23.900000
FPG,6380.0,8.937461,2.656367,4.000000,7.000000,8.000000,10.000000,30.000000
HbA1c,6380.0,7.346238,1.501432,3.000000,6.000000,7.000000,8.000000,14.000000
Height,6380.0,161.557680,7.601245,82.000000,156.000000,161.000000,168.000000,188.000000
Weight,6380.0,64.279467,11.867830,36.000000,58.000000,64.000000,70.000000,564.000000
BMI,6380.0,24.609998,4.447137,15.055139,22.491349,24.221453,26.149277,250.666667
Duration,6380.0,7.818589,5.801607,0.100000,2.700000,6.400000,12.000000,33.000000
DR,6380.0,0.100940,0.301273,0.000000,0.000000,0.000000,0.000000,1.000000
Community_baihe,6380.0,0.116458,0.320798,0.000000,0.000000,0.000000,0.000000,1.000000
Community_chonggu,6380.0,0.070846,0.256588,0.000000,0.000000,0.000000,0.000000,1.000000
Community_huaxin,6380.0,0.109561,0.312366,0.000000,0.000000,0.000000,0.000000,1.000000
Community_jinze,6380.0,0.086834,0.281614,0.000000,0.000000,0.000000,0.000000,1.000000
Community_liantang,6380.0,0.105016,0.306598,0.000000,0.000000,0.000000,0.000000,1.000000
Community_xianghuaqiao,6380.0,0.075549,0.264295,0.000000,0.000000,0.000000,0.000000,1.000000
Community_xujin,6380.0,0.088558,0.284127,0.000000,0.000000,0.000000,0.000000,1.000000
Community_yingpu,6380.0,0.124451,0.330122,0.000000,0.000000,0.000000,0.000000,1.000000
Community_zhaoxian,6380.0,0.106426,0.308407,0.000000,0.000000,0.000000,0.000000,1.000000
Community_zhujiajiao,6380.0,0.116301,0.320611,0.000000,0.000000,0.000000,0.000000,1.000000

In [4]:
X = data.drop(columns=["DR"])
y = pd.DataFrame(data["DR"])

display(X.head().iloc[:,:18])
display(X.head().iloc[:,18:])
display(y.head())

,Age,Gender,UAlb,Ucr,UACR,TC,TG,TCTG,LDLC,HDLC,Scr,BUN,FPG,HbA1c,Height,Weight,BMI,Duration
0,63,1,18.3,5,29.1,4.97,5.98,0.831104,2.31,0.97,55,6.6,7,5,140,42,21.428571,27.0
1,64,0,14.8,4,29.3,3.92,1.77,2.214689,1.44,1.71,50,4.0,11,7,166,62,22.499637,2.5
2,84,1,60.5,18,29.5,3.97,2.90,1.368966,1.96,0.94,93,8.5,6,6,160,60,23.437500,9.0
3,53,0,0.2,3,0.3,8.57,4.69,1.827292,4.54,1.74,58,5.0,13,9,173,60,20.047446,2.3
4,88,1,0.1,4,0.5,4.70,1.30,3.615385,3.29,0.88,120,10.1,7,6,154,65,27.407657,3.3

,Community_baihe,Community_chonggu,Community_huaxin,Community_jinze,Community_liantang,Community_xianghuaqiao,Community_xujin,Community_yingpu,Community_zhaoxian,Community_zhujiajiao
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

   DR
0   0
1   0
2   0
3   0
4   0

---
#### First Split

In [5]:
X_kfold, X_test, y_kfold, y_test = train_test_split(X, y, test_size=0.1, random_state=randomState,stratify=y)

---
#### Stratified K Fold

In [6]:
kF = StratifiedKFold(n_splits=5,shuffle=True, random_state=randomState)

kFold = []

for fold, (train_idx, test_idx) in enumerate(kF.split(X_kfold,y_kfold)):
    train_x, train_y = X_kfold.iloc[train_idx], y_kfold.iloc[train_idx]
    test_x, test_y = X_kfold.iloc[test_idx], y_kfold.iloc[test_idx]

    kFold.append((train_x, test_x, train_y, test_y))

In [7]:
for fold, data in enumerate(kFold,start=1):
    print(f"Fold: {fold} ")
    string = "  "
    for split in data:
        display(split.head())

Fold: 1

,Age,Gender,UAlb,Ucr,UACR,TC,TG,TCTG,LDLC,HDLC,...,Community_baihe,Community_chonggu,Community_huaxin,Community_jinze,Community_liantang,Community_xianghuaqiao,Community_xujin,Community_yingpu,Community_zhaoxian,Community_zhujiajiao
591,62,1,4.8,8,4.8,5.63,1.06,5.311321,4.06,1.28,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3572,74,0,21.8,11481,16.8,5.40,0.55,9.818182,4.18,1.36,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3384,71,1,7.3,8990,7.2,6.11,1.51,4.046358,4.30,1.22,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1300,66,0,3.4,8,3.4,4.90,0.92,5.326087,3.03,1.31,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
269,36,0,21.2,11,16.9,5.85,3.76,1.555851,2.71,1.06,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,Age,Gender,UAlb,Ucr,UACR,TC,TG,TCTG,LDLC,HDLC,...,Community_baihe,Community_chonggu,Community_huaxin,Community_jinze,Community_liantang,Community_xianghuaqiao,Community_xujin,Community_yingpu,Community_zhaoxian,Community_zhujiajiao
348,72,1,19.9,4,37.3,3.89,1.39,2.798561,2.45,0.92,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2608,59,0,0.7,10,0.6,6.32,6.13,1.030995,2.77,1.13,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
5711,65,1,3.8,8607,3.9,5.97,1.54,3.876623,3.57,1.61,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
6164,62,0,16.1,6609,21.6,6.22,2.54,2.448819,3.92,1.30,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5338,73,1,60.7,20813,25.8,4.09,1.21,3.380165,2.44,1.15,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

      DR
591    0
3572   0
3384   0
1300   0
269    0

      DR
348    0
2608   0
5711   0
6164   0
5338   0

Fold: 2

,Age,Gender,UAlb,Ucr,UACR,TC,TG,TCTG,LDLC,HDLC,...,Community_baihe,Community_chonggu,Community_huaxin,Community_jinze,Community_liantang,Community_xianghuaqiao,Community_xujin,Community_yingpu,Community_zhaoxian,Community_zhujiajiao
3384,71,1,7.3,8990,7.2,6.11,1.51,4.046358,4.30,1.22,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
269,36,0,21.2,11,16.9,5.85,3.76,1.555851,2.71,1.06,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1619,70,0,31.0,17,16.1,7.22,1.91,3.780105,5.00,1.54,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
348,72,1,19.9,4,37.3,3.89,1.39,2.798561,2.45,0.92,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5014,74,0,17.2,19701,7.7,5.27,0.83,6.349398,3.21,1.55,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

,Age,Gender,UAlb,Ucr,UACR,TC,TG,TCTG,LDLC,HDLC,...,Community_baihe,Community_chonggu,Community_huaxin,Community_jinze,Community_liantang,Community_xianghuaqiao,Community_xujin,Community_yingpu,Community_zhaoxian,Community_zhujiajiao
591,62,1,4.8,8,4.8,5.63,1.06,5.311321,4.06,1.28,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3572,74,0,21.8,11481,16.8,5.40,0.55,9.818182,4.18,1.36,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1300,66,0,3.4,8,3.4,4.90,0.92,5.326087,3.03,1.31,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
79,50,1,4.1,6,5.2,5.64,1.49,3.785235,3.71,1.21,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1433,52,0,4.8,6,6.3,3.49,0.36,9.694444,2.03,1.23,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

      DR
3384   0
269    0
1619   0
348    0
5014   0

      DR
591    0
3572   0
1300   0
79     0
1433   0

Fold: 3

,Age,Gender,UAlb,Ucr,UACR,TC,TG,TCTG,LDLC,HDLC,...,Community_baihe,Community_chonggu,Community_huaxin,Community_jinze,Community_liantang,Community_xianghuaqiao,Community_xujin,Community_yingpu,Community_zhaoxian,Community_zhujiajiao
591,62,1,4.8,8,4.8,5.63,1.06,5.311321,4.06,1.28,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3572,74,0,21.8,11481,16.8,5.40,0.55,9.818182,4.18,1.36,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3384,71,1,7.3,8990,7.2,6.11,1.51,4.046358,4.30,1.22,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1300,66,0,3.4,8,3.4,4.90,0.92,5.326087,3.03,1.31,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
269,36,0,21.2,11,16.9,5.85,3.76,1.555851,2.71,1.06,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,Age,Gender,UAlb,Ucr,UACR,TC,TG,TCTG,LDLC,HDLC,...,Community_baihe,Community_chonggu,Community_huaxin,Community_jinze,Community_liantang,Community_xianghuaqiao,Community_xujin,Community_yingpu,Community_zhaoxian,Community_zhujiajiao
5014,74,0,17.2,19701,7.7,5.27,0.83,6.349398,3.21,1.55,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4288,69,1,2.1,6930,2.7,5.52,2.81,1.964413,3.36,1.04,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1601,76,1,5.0,3,14.4,6.50,2.29,2.838428,4.35,1.46,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2561,48,0,1006.0,15,579.4,5.64,1.33,4.240602,3.74,1.27,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5888,60,1,4.7,5,7.9,5.67,0.81,7.000000,3.61,1.50,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

      DR
591    0
3572   0
3384   0
1300   0
269    0

      DR
5014   0
4288   0
1601   0
2561   1
5888   0

Fold: 4

,Age,Gender,UAlb,Ucr,UACR,TC,TG,TCTG,LDLC,HDLC,...,Community_baihe,Community_chonggu,Community_huaxin,Community_jinze,Community_liantang,Community_xianghuaqiao,Community_xujin,Community_yingpu,Community_zhaoxian,Community_zhujiajiao
591,62,1,4.8,8,4.8,5.63,1.06,5.311321,4.06,1.28,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3572,74,0,21.8,11481,16.8,5.40,0.55,9.818182,4.18,1.36,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3384,71,1,7.3,8990,7.2,6.11,1.51,4.046358,4.30,1.22,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1300,66,0,3.4,8,3.4,4.90,0.92,5.326087,3.03,1.31,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1619,70,0,31.0,17,16.1,7.22,1.91,3.780105,5.00,1.54,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,Age,Gender,UAlb,Ucr,UACR,TC,TG,TCTG,LDLC,HDLC,...,Community_baihe,Community_chonggu,Community_huaxin,Community_jinze,Community_liantang,Community_xianghuaqiao,Community_xujin,Community_yingpu,Community_zhaoxian,Community_zhujiajiao
269,36,0,21.2,11,16.9,5.85,3.76,1.555851,2.71,1.06,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5428,70,1,36.9,7504,43.5,4.34,2.34,1.854701,1.97,1.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
5967,64,1,1.4,1228,10.1,4.42,1.20,3.683333,3.05,0.89,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5084,67,1,11.2,10259,9.7,6.81,0.56,12.160714,4.09,1.98,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
5112,57,0,23.1,18861,10.8,4.20,1.37,3.065693,2.86,1.03,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

      DR
591    0
3572   0
3384   0
1300   0
1619   0

      DR
269    0
5428   0
5967   0
5084   0
5112   0

Fold: 5

,Age,Gender,UAlb,Ucr,UACR,TC,TG,TCTG,LDLC,HDLC,...,Community_baihe,Community_chonggu,Community_huaxin,Community_jinze,Community_liantang,Community_xianghuaqiao,Community_xujin,Community_yingpu,Community_zhaoxian,Community_zhujiajiao
591,62,1,4.8,8,4.8,5.63,1.06,5.311321,4.06,1.28,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3572,74,0,21.8,11481,16.8,5.40,0.55,9.818182,4.18,1.36,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1300,66,0,3.4,8,3.4,4.90,0.92,5.326087,3.03,1.31,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
269,36,0,21.2,11,16.9,5.85,3.76,1.555851,2.71,1.06,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
348,72,1,19.9,4,37.3,3.89,1.39,2.798561,2.45,0.92,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,Age,Gender,UAlb,Ucr,UACR,TC,TG,TCTG,LDLC,HDLC,...,Community_baihe,Community_chonggu,Community_huaxin,Community_jinze,Community_liantang,Community_xianghuaqiao,Community_xujin,Community_yingpu,Community_zhaoxian,Community_zhujiajiao
3384,71,1,7.3,8990,7.2,6.11,1.51,4.046358,4.30,1.22,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1619,70,0,31.0,17,16.1,7.22,1.91,3.780105,5.00,1.54,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3118,60,0,28.3,4,52.4,4.80,2.74,1.751825,2.56,1.08,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1662,64,1,3.0,1,20.7,5.13,2.73,1.879121,2.98,1.39,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5939,77,0,11.3,10828,9.2,6.12,2.02,3.029703,4.03,1.59,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

      DR
591    0
3572   0
1300   0
269    0
348    0

      DR
3384   0
1619   0
3118   0
1662   0
5939   0

In [20]:
import torch
from torch.utils.data import Dataset, DataLoader
import numpy as np

class CustomDataset(Dataset):
    def __init__(self, data, labels):
        assert len(data)==len(labels), "length of DATA and LABELS do not match"
        self.data = np.array(data)
        self.labels = np.array(labels)

    def __len__(self):
        # Return the size of the dataset
        return len(self.data)

    def __getitem__(self, idx):
        # Return a single data point and its corresponding label
        sample = torch.tensor(self.data[idx], dtype=torch.float32)
        label = torch.tensor(self.labels[idx], dtype=torch.float32)  # For classification tasks
        return sample, label

Testing Py imports
---

In [9]:
from modularModels1 import modularNN , BlockMaker
# from modelV1 import model_1
import torch
import torch.nn as nn
import torch.optim as optim
import torch.nn.init as init

In [23]:
model_1 = modularNN(1,
                   blocks=[BlockMaker(28,[128,128],64,
                                      [nn.ReLU(),nn.ReLU(),nn.LeakyReLU()]),
                           BlockMaker(64,[64],32,
                                      [(nn.ELU(),nn.Dropout(0.2)),nn.Sigmoid()]),
                           ],
                   blockSize=(28,32))

device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
# print(device)
model_1 = model_1.to(device)
print("A", model_1)


for layer in model_1.modules():
    if isinstance(layer, (nn.Linear, nn.Conv2d)):  # Check if the layer has weights
        init.xavier_normal_(layer.weight)  # Initialize weights using Xavier Normal
        if layer.bias is not None:
            init.normal_(layer.bias, mean=0, std=0.01)  






# for name, params in model_1.named_parameters():
#     print(name, params)

A modularNN(
  (layers): Sequential(
    (0): BlockMaker(
      (layers): Sequential(
        (0): Linear(in_features=28, out_features=128, bias=True)
        (1): ReLU()
        (2): Linear(in_features=128, out_features=128, bias=True)
        (3): ReLU()
        (4): Linear(in_features=128, out_features=64, bias=True)
        (5): LeakyReLU(negative_slope=0.01)
      )
    )
    (1): BlockMaker(
      (layers): Sequential(
        (0): Linear(in_features=64, out_features=64, bias=True)
        (1): ELU(alpha=1.0)
        (2): Dropout(p=0.2, inplace=False)
        (3): Linear(in_features=64, out_features=32, bias=True)
        (4): Sigmoid()
      )
    )
    (2): Linear(in_features=32, out_features=1, bias=True)
  )
)

In [31]:
epochs = 5
batchSize = 64
criterion = nn.BCEWithLogitsLoss()
optimiser = optim.Adam(model_1.parameters(),lr=0.001)


# for fold, (train_x, test_x, train_y, test_y) in enumerate(kFold):

train_dataset = CustomDataset(X_kfold, y_kfold)
test_dataset = CustomDataset(X_test, y_test)

print(len(train_dataset))

train_loader = DataLoader(train_dataset, batch_size=batchSize, shuffle=True)
test_loader = DataLoader(test_dataset, batch_size=batchSize, shuffle=False)

model_1.train()
print(f"Fold: {fold+1}")
for epoch in range(epochs):
    running_loss = 0.0
    correct_train = 0
    total_train = 0

    for batch, (inputs, labels) in enumerate(train_loader):
        inputs, labels = inputs.to(device), labels.to(device).squeeze()
        optimiser.zero_grad()
        outputs = model_1(inputs).squeeze()
        # print(outputs)
        # print("Labels",labels)
        loss = criterion(outputs, labels)
        loss.backward()
        optimiser.step()

        running_loss += loss.item()
        predicted = (torch.sigmoid(outputs) > 0.5)
        correct_train += (predicted == labels).sum().item()
        total_train += labels.size(0)

        print(f"  Batch: {batch+1}".ljust(10), 
                f"Loss: {running_loss/batchSize/(batch+1)}".ljust(12),
                f"Accuracy: {((correct_train/total_train)*100):.3f}%", end="\r")

    train_accuracy = 100 * correct_train / total_train
    avg_loss = running_loss / len(train_loader)

    print(f"- Epoch [{epoch+1}/{epochs}]".ljust(10),
            f"Loss: {avg_loss:.4f}".ljust(12),
            f"Accuracy: {train_accuracy:.2f}%".ljust(30))



model_1.eval()
correct = 0
total = 0
with torch.no_grad():
    for inputs, labels in test_loader:
        inputs, labels = inputs.to(device), labels.float().to(device).squeeze()
        outputs = model_1(inputs).squeeze()
        predicted = (torch.sigmoid(outputs) > 0.5).float()
        total += labels.size(0)
        correct += (predicted == labels).sum().item()

val_accuracy = (correct / total)*100
print(f"val acc: {val_accuracy:.2f}%\n")

5742
Fold: 5
- Epoch [1/5] Loss: 0.3274 Accuracy: 89.90%
- Epoch [2/5] Loss: 0.3274 Accuracy: 89.90%
- Epoch [3/5] Loss: 0.3273 Accuracy: 89.90%
- Epoch [4/5] Loss: 0.3272 Accuracy: 89.90%
- Epoch [5/5] Loss: 0.3275 Accuracy: 89.90%
val acc: 89.97%